.wrapper {
  display: flex;
  flex-direction: column;
  display: flex;
  flex: 1;
}

.fight-area {
  padding: 5px;
  list-style: none;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.fight-zone-container {
  display: grid;
  width: 100%;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  gap: 0.2rem;
}

.fight-zone {
  background-color: rgba(141, 251, 124, 0.3);
  border: 5px dashed green;
  border-radius: 20px;
  height: 100%;
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.fight-zone:nth-child(2) {
  background-color: rgba(255, 54, 54, 0.3);
  border: 5px dashed red;
}

.container {
  list-style: none;
  display: flex;
  gap: 5px;
  border-radius: 5px;
  overflow: scroll;
  justify-content: center;
}

.hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.item {
  background-color: lightblue;
  padding: 10px;
  overflow: scroll;
}

@media only screen and (min-width: 600px) {
  .wrapper {
    align-items: center;
  }
}

@media only screen and (min-width: 1250px) {
  .wrapper {
    flex-direction: row-reverse;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
