.card {
  width: clamp(100px, 18vw, 150px);
  aspect-ratio: 2/3;
  background-color: whitesmoke;
  position: relative;
  border-radius: 5px;
  border: 2px solid rgb(246, 200, 83);
  overflow: hidden;
  padding: 0;
  box-shadow: var(--box-shadow);
}

.selected {
  transition: 0.3s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  position: absolute;
  z-index: 1;
  border: 1px solid white;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.card.selected {
  .header {
    display: none;
  }

  .svg {
    display: none;
  }

  .svg.visible {
    display: block;
    height: 50px;
    width: 50px;
  }

  .attack-text {
    font-size: clamp(10px, 2vw, 16px);
    display: flex;
    margin: 0.25rem;
    width: 100%;
    border-radius: 2px;
    padding: 2px;
    font-weight: 500;
  }
}

.enemy {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
}

.card:hover:not(:disabled) {
  background-color: red;

  .enemy {
    display: block;
    background-color: rgba(255, 0, 0, 0.2);
  }

  filter: brightness(1.2);
}

.card:hover:disabled {
  cursor: not-allowed;
}

.header {
  position: absolute;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 18px;
}

.header h3 {
  font-size: clamp(10px, 2vw, 16px);
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0 1rem;
  border-radius: 5px;
  text-align: center;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  position: absolute;
  width: 100%;
  display: flex;
  bottom: 0;
  padding: 2px;
  justify-content: space-between;
}

.health {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: white;
}

.card:hover {
  cursor: pointer;
}

.card:disabled {
  cursor: not-allowed;
}

.svg {
  height: 40px;
  width: 40px;
}

@media only screen and (max-width: 600px) {
  .svg {
    height: 30px;
    width: 30px;
  }
}

// @media only screen and (min-width: 1100px) {
//   .card {
//     width: clamp(200px, 14vw, 300px);
//   }
// }
