.container {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
}

.container span {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: clamp(12px, 2vw, 16px);
  color: whitesmoke;
}
