.background {
  background: url("../assets/images/lotr-map-background.jpg");
  background-size: contain;
  min-height: 100vh;
  min-width: 100vw;
  text-align: center;
}

.btn {
  background: green;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  color: white;
  font-size: 20px;
}

.btn:hover {
  filter: brightness(0.9);
  cursor: pointer;
}

.heading {
  background: rgba(0, 0, 0, 0.3);
}

.heading h1 {
  font-size: clamp(1.3rem, 4vw, 3rem);
  background: linear-gradient(112.1deg, white 11.4%, #ffd500 70.2%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading h2 {
  font-size: clamp(1rem, 3vw, 2.2rem);
  background: linear-gradient(112.1deg, white 11.4%, #ffd500 70.2%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
