.table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: whitesmoke;
  /* background: linear-gradient(#28313b, #485461); */
  border-radius: 10px;
  justify-content: space-between;
  color: black;
  height: 100%;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
}
