.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  min-height: 100vh;
  height: 100%;
  padding: 1rem;
  color: white;
  font-size: 20px;
}

.container {
  display: flex;
  gap: 5px;
  overflow: scroll;
}
