.background {
  background: url("../../assets/images/lotr-map-background.jpg");
  background-size: contain;
  min-height: 100vh;
  min-width: 100vw;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding: 0.5rem;
  color: white;
  font-size: 20px;
}

.container {
  display: flex;
  gap: 5px;
  overflow-x: scroll;
  justify-content: center;
}

.attack-button {
  position: absolute;
  background-color: red;
  border: 1px solid var(--dark-grey);
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  color: white;
  height: 50px;
  width: 50px;
}

.attack-button:hover {
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  .wrapper {
    align-items: center;
  }
}

@media only screen and (min-width: 1250px) {
  .wrapper {
    flex-direction: row-reverse;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
