.wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  display: flex;
  flex: 1;
  width: clamp(300px, 100%, 1000px);
  /* overflow: hidden; */
}

.fight-area {
  padding: 5px;
  list-style: none;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px dashed white;
  flex: 1;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-height: 225px;
}

.list {
  padding: 5px;
  list-style: none;
  display: flex;
  gap: 5px;
  border-radius: 20px;
  overflow: scroll;
  align-items: center;
  width: clamp(300px, 100%, 900px);
}

.hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.item {
  background-color: lightblue;
  padding: 10px;
  overflow: scroll;
}
