.button-container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding: 1px;
  border-radius: 10px;
  width: fit-content;
  align-self: center;
  position: absolute;
  top: 50%;
}

.button {
  border: 1px solid var(--dark-grey);
  border-radius: 10px;
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  filter: brightness(0.8);
  cursor: pointer;
}

.button:disabled {
  filter: brightness(0.6);
}

.button:hover:disabled {
  cursor: not-allowed;
}

@media only screen and (min-width: 1250px) {
  .button-container {
    left: 50%;
  }
}
